<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.min.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
</head>
<body>

<!-- navigation -->
<header class="navigation fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-white">
            <a class="navbar-brand order-1" href="/">
                <svg width="429.00000000000006" height="100.95334558653526" viewBox="0 0 369.89473684210526 87.04454824956076" style="height: 42px; width: auto;"><defs id="SvgjsDefs1599"><linearGradient id="SvgjsLinearGradient1604"><stop id="SvgjsStop1605" stop-color="#006838" offset="0"></stop><stop id="SvgjsStop1606" stop-color="#96cf24" offset="1"></stop></linearGradient></defs><g id="SvgjsG1600" featurekey="symbolFeature-0" transform="matrix(1.0002232074206465,0,0,1.0002232074206465,-1.9573724467072822,-4.48787799185952)" fill="url(#SvgjsLinearGradient1604)"><path xmlns="http://www.w3.org/2000/svg" d="M28.036,91.512c-0.38,0-0.764-0.104-1.096-0.324c-0.708-0.467-1.048-1.332-0.844-2.155l3.552-14.353H15.872  c-0.944,0-1.764-0.656-1.956-1.584L2,16.368c-0.116-0.556,0.004-1.132,0.34-1.588c0.332-0.456,0.84-0.752,1.404-0.813L91.828,4.5  c0.607-0.072,1.22,0.156,1.648,0.592c0.428,0.436,0.631,1.056,0.547,1.66l-7.836,58.191c-0.136,0.992-0.979,1.736-1.983,1.736  H61.216L29.256,91.1C28.892,91.376,28.464,91.512,28.036,91.512L28.036,91.512z"></path></g><g id="SvgjsG1601" featurekey="nameFeature-0" transform="matrix(2.581012225461167,0,0,2.581012225461167,105.70233125291058,-20.603636550600243)" fill="#59a52c"><path d="M10.96 38.32 c0.2 0 0.4 0.2 0.4 0.44 l0 1.24 l-3.96 0 c-2.76 0 -4.96 -2.24 -4.96 -5.04 l0 -25.04 l1.36 0 c0.24 0 0.44 0.2 0.44 0.44 l0 10.44 c0.04 -0.44 0.56 -0.76 1.12 -0.76 l4.88 0 l0 1.2 c0 0.24 -0.2 0.44 -0.44 0.44 l-5.56 0 l0 13.48 c0 1.72 1.4 3.16 3.16 3.16 l3.56 0 z M24.68 19.96 c2.76 0 4.96 2.28 4.96 5.04 l0 14.56 c0 0.24 -0.2 0.44 -0.44 0.44 l-10.04 0 c-2.76 0 -4.96 -2.24 -4.96 -5 l0 -2.08 c0 -2.8 2.2 -5.04 4.96 -5.04 l8.24 0 c0.24 0 0.4 -0.16 0.44 -0.44 l0 -2.6 c0 -1.76 -1.4 -3.2 -3.16 -3.2 l-8.36 0 c-0.2 0 -0.4 -0.2 -0.4 -0.44 l0 -1.24 l8.76 0 z M19.16 38.24 l8.68 0 l0 -8.84 c-0.08 0.08 -0.2 0.16 -0.32 0.16 l-8.36 0 c-1.76 0 -3.16 1.44 -3.16 3.2 l0 2.32 c0 1.76 1.4 3.16 3.16 3.16 z M45.12 20 c2.76 0 4.96 1.88 4.96 4.88 l0 10.24 c0 3 -2.2 4.88 -4.96 4.88 l-10.28 0 c-0.24 0 -0.44 -0.2 -0.44 -0.44 l0 -29.56 l1.36 0 c0.24 0 0.44 0.2 0.44 0.44 l0 10.32 c0.04 -0.44 0.56 -0.76 1.12 -0.76 l7.8 0 z M48.36 35.16 l0 -10.32 c0 -1.76 -1.48 -3.2 -3.24 -3.2 l-8.24 0 c-0.36 0.04 -0.64 0.32 -0.68 0.72 l0 3.72 l0 12.24 l8.92 0 c1.76 0 3.24 -1.4 3.24 -3.16 z M56.239999999999995 39.56 l0 -27.92 l1.36 0 c0.24 0 0.44 0.2 0.44 0.44 l0 27.88 l-1.36 0 c-0.24 0 -0.44 -0.16 -0.44 -0.4 z M62.959999999999994 39.56 l0 -19.56 l1.36 0 c0.24 0 0.44 0.16 0.44 0.4 l0 19.6 l-1.36 0 c-0.24 0 -0.44 -0.2 -0.44 -0.44 z M62.959999999999994 13 l0 -1.88 l1.4 0 c0.24 0 0.4 0.2 0.4 0.4 l0 1.88 l-1.4 0 c-0.24 0 -0.4 -0.16 -0.4 -0.4 z M69.99999999999999 35 l0 -9.96 c0 -2.76 2.2 -5 4.96 -5 l8.2 0 l0 1.2 c0 0.24 -0.16 0.44 -0.4 0.44 l-7.8 0 c-1.76 0 -3.16 1.44 -3.16 3.2 l0 10.28 c0 1.76 1.4 3.16 3.16 3.16 l7.8 0 c0.24 0 0.4 0.2 0.4 0.44 l0 1.24 l-8.2 0 c-2.76 0 -4.96 -2.24 -4.96 -5 z M97.39999999999999 19.96 c2.76 0 4.96 2.28 4.96 5.04 l0 14.56 c0 0.24 -0.2 0.44 -0.44 0.44 l-10.04 0 c-2.76 0 -4.96 -2.24 -4.96 -5 l0 -2.08 c0 -2.8 2.2 -5.04 4.96 -5.04 l8.24 0 c0.24 0 0.4 -0.16 0.44 -0.44 l0 -2.6 c0 -1.76 -1.4 -3.2 -3.16 -3.2 l-8.36 0 c-0.2 0 -0.4 -0.2 -0.4 -0.44 l0 -1.24 l8.76 0 z M91.87999999999998 38.24 l8.68 0 l0 -8.84 c-0.08 0.08 -0.2 0.16 -0.32 0.16 l-8.36 0 c-1.76 0 -3.16 1.44 -3.16 3.2 l0 2.32 c0 1.76 1.4 3.16 3.16 3.16 z"></path></g></svg>
            </a>
            <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">

            </div>

            <div class="order-2 order-lg-3 d-flex align-items-center">
                <a class="btn btn-outline-primary" type="button" href="/notice/add">
                    Dodaj ogłoszenie +
                </a>
            </div>

        </nav>
    </div>
</header>
<!-- /navigation -->
{{>alerts}}

{{{body}}}

<footer class="footer">
    <svg class="footer-border" height="214" viewBox="0 0 2204 214" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2203 213C2136.58 157.994 1942.77 -33.1996 1633.1 53.0486C1414.13 114.038 1200.92 188.208 967.765 118.127C820.12 73.7483 263.977 -143.754 0.999958 158.899"
              stroke-width="2" />
    </svg>

</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
